@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* header  */

header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0;
  padding: 0 10%;
  box-shadow: rgba(60, 64, 67, 0.1) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.1) 0px 2px 6px 2px;
}

header a {
  margin-left: 20px;
  cursor: pointer;
}

header nav {
  padding: 20px 0;
  font-weight: bolder;
}

header nav ul,
header ul {
  display: flex;
}

header nav ul li,
header ul li {
  list-style: none;
  font-weight: 600;
  margin-right: 20px;
}

header nav ul li a,
header ul li a {
  color: #333;
  font: bolder;
  font-size: large;
}

/* posts  */

.posts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 70%;
  margin: auto;
  padding: 20px;
}

.posts h2 {
  text-align: center;
  margin: 20px 0;
}

.posts .post {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1080px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  
  header nav {
    margin-top: 20px;
    flex-wrap: wrap;
  }
}

@media (max-width: 620px) {
  header nav ul {
    flex-wrap: wrap;
    gap: 10px;
  }

  header > ul {
    width: 100%;
  }
}
