@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* header  */

header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0;
  padding: 0 10%;
  box-shadow: rgba(60, 64, 67, 0.1) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.1) 0px 2px 6px 2px;
}

header a {
  margin-left: 20px;
  cursor: pointer;
}

header nav {
  padding: 20px 0;
  font-weight: bolder;
}

header nav ul,
header ul {
  display: flex;
  float: right;
}

header nav ul li,
header ul li {
  list-style: none;
  font-weight: 600;
  margin-right: 20px;
}

header nav ul li a,
header ul li a {
  color: #333;
  font: bolder;
  font-size: large;
}

/* signup  */
.signup-form {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.signup-form h3 {
  font-size: 24px;
  text-align: center;
}

.signup-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signup-form form .form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup-form form .form-input input {
  border: 2px solid lightgray;
  padding: 8px;
  border-radius: 8px;
}

.signup-form form button {
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 15px 0;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .signup-form {
    width: 30%;
  }
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}


@media (max-width: 1080px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  
  header nav {
    display: none;
  }

  header > ul  {
    justify-content: center;
  }

  header > ul > li {
    margin-top: 20px;
  }

}

@media (max-width: 620px) {
  header nav ul {
    flex-wrap: wrap;
    gap: 10px;
  }
  
  header nav ul li {
    width: 50%; 
  }

  header > ul {
    width: 100%;
  }
}

@media (max-width: 400px ){
  .signup-form {
    top: 60%;
  }

  .signup-form form .form-input {
    gap: 5px;
  }
}